.logo{
	@include aspect-ratio(1,1);
	background-color: $gray;
	background-size: cover;
	background-position: center center;
	border: 1px solid $lightgray;
	border-radius: .5rem;
}

@media screen and (max-width: $sm){
	.logo{
		width: 65%;
		margin: 2rem auto 2rem;
	}
}

@media screen and (min-width: $sm){
	.logo{
		width: 100%;
		margin: 0;
	}
}