// Media Query Sizing
$sm: 48em; //Small screen size ( sm > xs);
$md: 61em; //Medium screen size
$lg: 71em; //Large screen size


//Colors
$gray: #A0A1A2;
$lightgray: lightgray;
$red: #FF8787;
$yellow: #F1D84B;
$green: #A5DF87;
